.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#div1 {
    text-align: center;
}

.Pavone {
    background-color: #039be5; 
}
.Pomodoro {
    background-color: #d50000; 
}
.Fenicottero {
    background-color: #e67c73; 
}
.Mandarino {
    background-color: #f4511e; 
}
.Banana {
    background-color: #f6bf26; 
}
.Salvia {
    background-color: #33b679; 
}
.Basilico {
    background-color: #0b8043; 
}
.Mirtillo {
    background-color: #3f51b5; 
}
.Lavanda {
    background-color: #7986cb; 
}
.Vinaccia {
    background-color: #8e24aa; 
}
.Grafite {
    background-color: #616161; 
}